<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>May 18-19</string>
	<key>EventPlace</key>
	<string>Tampa, FCP3 Conference 2017</string>
	<key>NavigationBarColour</key>
	<string>#405c7a</string>
	<key>EventDetailHeaderColour</key>
	<string>#f8a200</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#1c7300</string>
	<key>IsFilterEnable</key>
	<false/>
	<key>SpeakerDetailBarColour</key>
	<string>#405c7a</string>
</dict>
</plist>
